<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite">
  <test name="AuthenticationTests">
   <classes>
      <class name="com.supriya.ultimateqa.authentication.tests.LoginTests"/>
      <class name="com.supriya.ultimateqa.authentication.tests.CreateAccountPageTests"/>
      <class name="com.supriya.ultimateqa.authentication.tests.DashBoardTests"/>
      <class name="com.supriya.ultimateqa.authentication.tests.HomePageTests"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




